<div class="container mw-xl">
  <div class="contents-title text-center">
    <h1><%= movie_title %></h1>
  </div>
  <div class= "row">
    <%= render partial: "movie", locals: { movie: @movie }, collection: @movies %>
  </div>
</div>
